/****************** General style ******************/
:root {
  --primary-color: #ed610a;
  --secondary-color: #2596be;
}
body,
html {
  height: 100%;
  margin: 0;
  font-family: "Arial", sans-serif;
  background: url("https://source.unsplash.com/random/1600x900") no-repeat
    center center fixed;
  background-size: cover;
  background-color: #f8f8f8;
}
h3{
  font-size: 20px;
}
p{
  font-size: 14px;
}
#searchProductsByName {
  color: #b0b0b0;      /* Light gray color */
  font-size: 14px;     /* Same size as input text */
  font-weight: lighter;/* Lighter weight */
  opacity: 0.7;        /* Slightly faded text */
  text-align: left;    /* Align text to the left */
}


.orange-color{
  color: var(--primary-color);
}
.green-color{
  color: var(--secondary-color);
}
/****************** Navbar style ******************/

.navbar-brand {
  width: 80px;
}
.header-logo{
    color: var(--primary-color);
    font-weight: bold;
    font-size: large;
}
.navbar-right {
  color: var(--primary-color);
}

/****************** Login style ******************/

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.login-card {
  background-color: rgba(166, 159, 159, 0.7);
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  max-width: 400px;
  color: white;
}

.login-card h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 16px;
}

.form-control {
  border-radius: 25px;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
}

.btn-primary {
  background-color: var(--secondary-color);
  border: none;
  border-radius: 25px;
  padding: 10px;
  font-size: 18px;
  width: 100%;
}

.btn-primary:hover {
  background-color: #e55347;
}

.register {
  display: block;
  text-align: center;
  color: #f1f1f1;
  font-size: 16px;
  text-transform: capitalize;
  margin-top: 10px;
}

.register:hover {
  text-decoration: underline;
}
/****************** products style ******************/
#addToCartBtn {
  font-size: 16px;

}
/****************** shopping cart style ******************/

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
}

h1 {
  text-align: center;
}
.cart-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding: 15px 0;
}
.cart-item img {
  width: 100px;
  height: 100px;
  margin-right: 20px;
}
.item-details {
  flex: 1;
}
.item-name {
  font-size: 18px;
  font-weight: bold;
}
.item-price {
  font-size: 16px;
  color: #555;
}
.quantity-controls {
  display: flex;
  align-items: center;
}
.quantity-controls button {
  background-color: #ddd;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 18px;
}
.delete-btn {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 20px;
}
.cart-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.total-price {
  font-size: 18px;
  font-weight: bold;
}
.checkout-btn {
  background-color: #28a745;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}